.dialog-body {
	width: 30em;
	height: 28em;
}

.transfer-dialog-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.initial-transfer-dialog-form {
	padding-top: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}

.transfer-summary {
	display: flex;
	flex-direction: column;
}

.confirm-transfer-dialog-form {
	padding-top: 1em;
}

.form-input-item {
	width: 50%;
}

.contractors-chip-list {
	width: 100%;
}

.dialog-content {
	z-index: 150;
}

form {
	width: 100%;
}
