<div class="content" role="main">
	<main-dashboard-cart
		[title]="'Currencies'"
		[subtitle]="'Currency rates information'"
		[imagePath]="'/assets/currency-rates.png'"
		[navigateLink]="'/dashboard/currency-rates'"
		[description]="'The currency rates page contains information about currency exchange rates.'"
	>
	</main-dashboard-cart>

	<main-dashboard-cart
		[title]="'Accounting'"
		[subtitle]="'Financies'"
		[imagePath]="'/assets/accounting-v2.jpg'"
		[navigateLink]="'/dashboard/accounting'"
		[description]="'CRUD you h-budget'"
	>
	</main-dashboard-cart>
</div>
