<!-- Toolbar -->
<div class="toolbar" (click)="navigateToDashboardAsync()" role="banner">
	<img class="toolbar-logo" alt="Angular Logo" src="/assets/angular-logo.png" />
	<span>Welcome to h-budget app</span>
</div>

<div class="layout-content">
	<div class="app-root-left-sidebar-outlet">
		<router-outlet name="leftSidebar"></router-outlet>
	</div>

	<div class="app-root-central-outlet">
		<router-outlet #rootAppOutlet="outlet"></router-outlet>
	</div>

	<div class="app-root-right-sidebar-outlet">
		<router-outlet name="rightSidebar"></router-outlet>
	</div>
</div>

<progress-spinner [isLoaded]="rootAppOutlet.isActivated"></progress-spinner>
