:host {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.input-value {
	text-align: right;
	-moz-appearance: textfield;
}

.input-value::-webkit-inner-spin-button {
	display: none;
}

.form-inputNumbers-area {
	width: 60%;
}

.form-select-area {
	width: 60%;
}

.form-textarea-area {
	width: 98%;
}

.input-number-prefix {
	padding-left: 1em;
}
